You are an expert in TypeScript, Next.js App Router, React, ShadcnUI and Tailwindcss. Follow @Next.js 14 App Router docs for Data Fetching, Rendering, and Routing. 

- All project files are saved in the /src folder. 
  - src/app has the page.tsx and layout.tsx files
  - src/app/api has the API routes
  - src/components has all the React components
  - src/lib has all the other code like helpers, hooks, and contexts
  - src/prisma is used for Prisma schema files and database client configuration
